.fondoForm {
    position: relative;
    max-width: 120vh;
    max-height: 70vh;

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsla(51, 98%, 49%, 0.315);
    border-radius: 2vh;
    box-shadow: 0 10px 16px rgba(110, 110, 105, 0.76);
    overflow: hidden;
}

.form {
    height: 100%;
    display: flex;
}

.fondoLogin {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}


.inputForm {
    max-height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.divTitulo {
    width: 100%;
    font-size: 2rem;
    margin: 1vh;
}

.divUser {
    margin: 2vh;
}

.divEmail {
    margin: 2vh;
}

.divPass {
    margin: 2vh;
}

.input {
    max-width: 23vh;
    max-height: 5vh;
    text-align: center;
    border: solid 1px black;
    border-radius: 1vh;
    margin-left: 1vh;
}

.fondoRegister {
    max-height: 90vh;
    width: 50vh;

    display: flex;
    flex-direction: column;
    justify-content: center;

    text-align: center;
    padding: 1rem;
    border-left: 1px solid;
}

.google {
    max-width: 40vh;
    height: 5vh;
    border-bottom: solid 1px black;
    margin-bottom: 1vh;

}

.divRegister {
    max-width: 40vh;
    font-size: 1.3rem;

}

.linkRegister {
    margin-top: 2vh;
    padding: 1vh;
    
}

/* Componente registro */

.fondoFlecha {
    width: 3vh;
    height: 3vh;
    

    position: absolute;
    top: 1rem;
    left: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.divTituloR{
    width: 100%;
    font-size: 2rem;
    padding: 3vh;
}

.register{
    padding: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

